extends ../../layouts/default.pug
block main  
    h1 Trang Sản Phẩm
    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
            .card-body 
                .row
                    .col-6 
                        h2 Bộ lọc

                    .col-6 
                        h2 Tìm Kiếm