.footer
    .footer-content
        .footer-section.about
            h3 About Us
            p
                | VIKTE SHOP is your one-stop destination for all things related to business consulting, web development, and
                | personal coaching. We are dedicated to helping you achieve your goals.
        .footer-section.quick-links
            h3 Quick Links
            ul
                li
                    a(href='#home') Home
                li
                    a(href='#about') About Us
                li
                    a(href='#services') Services
                li
                    a(href='#portfolio') Portfolio
                li
                    a(href='#blog') Blog
                li
                    a(href='#contact') Contact
        .footer-section.contact
            h3 Contact Us
            p
                i.fa-solid.fa-phone
                |  Phone: +123456789
            p
                i.fa-solid.fa-envelope
                |  Email: info@vikteshop.com
            p
                i.fa-solid.fa-map-marker-alt
                |  Address: 123 Main Street, Cityville, Country
        .footer-section.social
            h3 Follow Us
            a(href='https://facebook.com' target='_blank')
                i.fa-brands.fa-facebook
                |  Facebook
            a(href='https://twitter.com' target='_blank')
                i.fa-brands.fa-twitter
                |  Twitter
            a(href='https://instagram.com' target='_blank')
                i.fa-brands.fa-instagram
                |  Instagram
    .footer-bottom
        p
            | &copy; 2024 VIKTE SHOP | All Rights Reserved

