header.header
    .logo
        img(src='/client/img/logo.png' alt='logo shop')
        h1
            span
                a(href="#") VIKTE SHOP
        img(src='/client/img/logo.png' alt='logo shop')

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#') 
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='#')
                    i.fas.fa-house
                    | Home
            li.nav-item
                a.nav-link(href='#')
                    i.fas.fa-bag-shopping
                    | Shop
            li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fas.fa-book-open-reader
                    | Products
                .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#') Product 1
                    a.dropdown-item(href='#') Product 2
                    a.dropdown-item(href='#') Product 3
            li.nav-item
                a.nav-link(href='#')
                    i.fas.fa-book-open-reader
                    | About
            li.nav-item
                a.nav-link(href='#')
                    i.fas.fa-user
                    | Introduce
            li.nav-item.dropdown
                a#contactDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fas.fa-phone
                    | Contact
                .dropdown-menu(aria-labelledby='contactDropdown')
                    a.dropdown-item(href='tel:+123456789')
                        i.fas.fa-phone
                        | +123456789
                    a.dropdown-item(href='https://facebook.com' target='_blank')
                        i.fab.fa-facebook
                        | Facebook
                    a.dropdown-item(href='https://zalo.me' target='_blank')
                        i.fas.fa-comments
                        | Zalo

.banner.text-center
    h1 Welcome to Our Website!
    p Your journey to success starts here.
    button.btn.btn-primary Learn More
