.header
    .logo
        img(src='/client/img/logo.png' alt='logo shop')
        h1
            span
                a(href='index.html') VIKTE SHOP
        img(src='/client/img/logo.png' alt='logo shop')
    nav
        .nav
            ul
                li
                    a(href='')
                        i.fa-solid.fa-house
                        | Home
                li
                    a(href='')
                        i.fa-solid.fa-bag-shopping
                        | Shop
                li.dropdown
                    a(href='#')
                        i.fa-solid.fa-book-open-reader
                        | Products
                    ul.submenu
                        li
                            a(href='#') Product 1
                        li
                            a(href='#') Product 2
                        li
                            a(href='#') Product 3
                li
                    a(href='')
                        i.fa-solid.fa-book-open-reader
                        | About
                li
                    a(href='')
                        i.fa-solid.fa-user
                        | Introduce
                li.dropdown
                    a(href='#')
                        i.fa-solid.fa-phone
                        | Contact
                    ul.submenu
                        li
                            a(href='tel:+123456789')
                                i.fa-solid.fa-phone
                                |  +123456789
                        li
                            a(href='https://facebook.com' target='_blank')
                                i.fa-brands.fa-facebook
                                |                                     Facebook
                        li
                            a(href='https://zalo.me' target='_blank')
                                i.fa-solid.fa-comments
                                |  Zalo
        .search
            input(type='text' name='Tìm Kiếm' placeholder='Search...')
            a.search-btn(href='#')
                i.fa-solid.fa-magnifying-glass
            a.user-btn(href='#')
                i.fa-solid.fa-user
            .logout
                a.out-btn(href='#')
                    i.fa-solid.fa-arrow-right-from-bracket
    .banner
        h1 Welcome to Our Website!
        p Your journey to success starts here.
        button.btn Learn More