extends ../../layouts/default.pug 
block main()
    h1 Trang Sản Phẩm
        .container.my-3 
            .row    
                .col-12 
                    h2.inner-title Danh Sách Sản Phẩm

            .row 
                .col-4.mb-3
                    .product-item 
                        .inner-image
                            img(src="" alt="ADASASAS")
                        .inner-content
                            h3.inner-title ádasdas 
                            .inner-price-new 100$
                            .inner-price-old 120$
                            .inner-discount -12%


