extends ../../layouts/default.pug 
block main()
    .container.mt-4
    .row
        .col-md-3.content-menu
            h3 Navigation
            ul.list-unstyled
                li
                    a(href='#home') Home
                li
                    a(href='#about') About Us
                li
                    a(href='#services') Services
                li
                    a(href='#portfolio') Portfolio
                li
                    a(href='#blog') Blog
                li
                    a(href='#contact') Contact
        .col-md-9.content-body
            h2 Welcome to Our Content Section
            p
                | We provide a wide range of services that cater to your needs, whether it&apos;s business consulting, web
                | development, or personal coaching. Explore below for more details!
            .row.services
                .col-md-4.service-box.text-center
                    img.img-fluid(src='https://via.placeholder.com/150' alt='Service 1')
                    h3 Business Consulting
                    p
                        | We help you grow your business by providing expert advice and strategies tailored to your
                        | needs.
                .col-md-4.service-box.text-center
                    img.img-fluid(src='https://via.placeholder.com/150' alt='Service 2')
                    h3 Web Development
                    p
                        | Our team of web developers can create modern, responsive, and fast websites for any
                        | purpose.
                .col-md-4.service-box.text-center
                    img.img-fluid(src='https://via.placeholder.com/150' alt='Service 3')
                    h3 Personal Coaching
                    p
                        | We offer personal coaching sessions to help you unlock your full potential and achieve your
                        | goals.

